<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On
RewriteBase /PHP/Project_3wa
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ accueil.phtml [QSA,L]
</IfModule>
